@import "./variables/variables";
@import "./page_sscss/animations/animation";
@import "./mixins/mixin";
@import "./placeholder/placeholder";
@import "./page_sscss/accueil";
@import "./cards";
@import "./page_sscss/arbres";
@import "./page_sscss/map";
@import "./page_sscss/about";
@import "./page_sscss/three";
body {
  background-color: rgb(24, 24, 24);
}

a {
  text-decoration: none;
}

.content-loader {
  height: 100%;
  text-align: center;
}
.loader {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  border: 4px solid #fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@keyframes disparition {
  100% {
    opacity: 0;
    display: none;
  }
}
.hidden {
  display: none;
  animation: disparition 1s;
  animation-fill-mode: forwards;
}
