@-webkit-keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes apparition-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes apparition-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.container-txt .big-title, .big-title {
  font-family: Lato, sans-serif;
  font-size: 60px;
  color: #35a194;
  text-transform: uppercase;
  -webkit-animation: apparition 0.8s 2ms ease-out;
          animation: apparition 0.8s 2ms ease-out;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
}

nav {
  padding-top: 25px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-nav {
  width: 100px;
  height: 100px;
  padding-left: 20px;
  position: relative;
}

nav ul {
  list-style-type: none;
  margin-top: 70px;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #9c9b9b;
  font-size: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

nav a:hover {
  color: #35a194;
}

nav li a::after {
  display: block;
  width: 100%;
  height: 5px;
  position: relative;
  top: 5%;
  background: #0c1153;
  -webkit-transform: scale(0);
          transform: scale(0);
}

nav li a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.responsive-nav-btn {
  display: none;
  position: absolute;
  top: 5px;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .responsive-nav-btn {
    display: block;
  }
  nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    position: absolute;
    top: -120px;
    width: 100vw;
    border-bottom: 1px solid #000;
  }
  nav ul {
    width: 100%;
    display: none;
  }
  .active-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container-global {
  padding-bottom: 400px;
}

.container-txt {
  width: 50%;
  height: auto;
  margin-top: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5%;
}

.container-txt p {
  font-size: 13px;
  color: #9c9b9b;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  -webkit-animation: apparition-down 0.8s ease-out;
          animation: apparition-down 0.8s ease-out;
}

.container-txt p a {
  color: #35a194;
  text-decoration: none;
  font-weight: 600;
}

.btn-arbre {
  position: absolute;
  padding: 20px;
  border: none;
  border: solid 2px #35a194;
  outline: none;
  background: transparent;
  border-radius: 20px;
  color: #35a194;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: large;
  margin-left: 460px;
  width: 200px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: apparition-down 0.8s ease-out;
          animation: apparition-down 0.8s ease-out;
}

.btn-arbre:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container-img img {
  width: 50%;
  position: absolute;
  top: -12px;
  right: -125px;
}

@media screen and (max-width: 950px) {
  .container-img img {
    display: none;
  }
}

.container-gouv {
  margin-left: 10%;
  margin-top: 50px;
  width: 300px;
  -webkit-animation: apparition 1.4s ease-out;
          animation: apparition 1.4s ease-out;
}

.container-gouv img {
  width: 300px;
  height: auto;
}

.container-gouv p {
  color: #9c9b9b;
  font-size: 12px;
  text-align: center;
}

.liste-arbres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  list-style-type: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: apparition-down 1s 0.8ms ease-out;
          animation: apparition-down 1s 0.8ms ease-out;
}

.liste-arbres li {
  margin: 20px 5%;
  width: 300px;
  height: 400px;
  background-color: #9c9b9b;
  border: 10px solid #35a194;
  color: #0c1153;
  padding: 50px;
  border-radius: 25px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  font-size: 18px;
}

.liste-arbres li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.big-title {
  margin-left: 20%;
  font-size: 80px;
}

#ma-carte {
  height: 80vh;
  margin: 5%;
  -webkit-animation: apparition-down 1s 0.8ms ease-out;
          animation: apparition-down 1s 0.8ms ease-out;
}

.explications {
  color: #9c9b9b;
  width: 50%;
  margin-left: 5%;
  -webkit-animation: apparition-down 1s 0.8ms ease-out;
          animation: apparition-down 1s 0.8ms ease-out;
}

.article {
  color: #9c9b9b;
  margin-left: 5%;
  margin-right: 5%;
  width: 50%;
  -webkit-animation: apparition-down 1s 0.8ms ease-out;
          animation: apparition-down 1s 0.8ms ease-out;
}

.article h2 {
  color: #35a194;
  -webkit-animation: apparition-down 1s 2ms ease-out;
          animation: apparition-down 1s 2ms ease-out;
}

body {
  background-color: #181818;
}
/*# sourceMappingURL=main.css.map */