.content-loader {
  height: 100%;
  text-align: center;
}
.loader {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  border: 4px solid $primary;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: $primary;
  animation: loader-inner 2s infinite ease-in;
}

.hidden {
  display: none;
  animation: disparition 1s;
  animation-fill-mode: forwards;
}
