.container-global {
  margin: 5%;
  h1 {
    color: $primary;
    font-size: 70px;
  }

  h2 {
    font-size: 50px;
    font-style: italic;
    color: white;
  }

  p {
    font-size: 30px;
    color: white;
  }
}
