*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  height: 70px;
  width: 100%;
  background: #0c1153;
}

.liste-nav {
  width: 100%;
  height: 100%;
  text-align: center;
}

.item-nav {
  display: inline-block;
  line-height: 70px;
  font-style: 25px;
  margin: 0 10px;
  cursor: pointer;
}

.item-nav a {
  text-decoration: none;
  color: #b3bbcf;
  font-family: Lato, sans-serif;
}

.btn-toggle-container {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
}
.btn-toggle-container img {
  width: 40px;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .btn-toggle-container {
    display: block;
  }
  nav {
    border-bottom: 2px solid #b3bbcf;
  }
  .liste-nav {
    position: relative;
    top: 70px;
    display: none;
  }

  .item-nav {
    display: block;
    background: #0c1153;
    margin: 0;
  }
  .liste-nav.active-menu {
    display: block;
  }
}
main {
  width: 100vw;
}

h1 {
  font-family: Lato, sans-serif;
  color: #359d86;
  margin-top: 20px;
  font-size: 80px;
  margin-bottom: 50px;
}
.subtitle {
  font-family: Lato, sans-serif;
  font-size: 16px;
  margin-top: 50px;
  color: #0c1153;
  width: 60%;
}
.info {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
}
.btn {
  width: 200px;
  height: 50px;
  border: 2px solid #359d86;
  border-radius: 10px;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  color: #0c1153;
  font-weight: bolder;
  background-color: white;
  cursor: pointer;
  margin-top: 50px;
  align-self: center;
}

.btn:hover {
  color: white;
  background-color: #359d86;
}

.liste-arbres {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.liste-arbres li {
  background-color: #0c1153;
  border: 3px solid #359d86;
  margin: 100px 10px;
  list-style-type: none;
  color: #359d86;
  padding: 10px;
  font-family: Lato, sans-serif;
  height: 500px;
  max-width: 400px;
  min-width: 320px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.liste-arbres li:hover {
  box-shadow: 10px 10px 34px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.1);
}

#map {
  margin: auto;
  display: flex;
  height: 100vh;
  width: 90%;
}

.info-about {
  font-family: Lato, sans-serif;
  font-size: 30px;
  width: 90%;
}

.img-bg {
  width: auto;
  max-height: 500px;
  min-height: 200px;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
