* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Lato, sans-serif;
}
nav {
  font-family: Lato, sans-serif;
  display: flex;
  margin-left: 10%;
}
nav img {
  width: 100px;
  height: auto;
}

nav ul {
  display: flex;
  margin-top: 72px;
}
nav li {
  list-style-type: none;
  margin-right: 20px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
}

h1 {
  color: #35a194;
  font-size: 85px;
}
main {
  display: flex;
  margin-left: 10%;
  margin-top: 60px;
}
main p {
  width: 50%;
}

.logo-data {
  height: 100px;
  width: auto;
  margin-top: 50px;
}

button {
  display: block;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  border: solid 3px #35a194;
  font-family: lato;
  cursor: pointer;
}
.big-img {
  position: relative;
  top: 0;
  left: 0;
}
