%big-title {
  font-family: Lato, sans-serif;
  font-size: 60px;
  color: $primary;
  text-transform: uppercase;
  animation: apparition 0.8s 2ms ease-out;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
